@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*, *::after , *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: #D3D3D3;
}
.container{
  position: relative;
}
.container .navbar{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    background-color: #050301;
    /* background-color: #116491; */
    overflow: hidden; /* Ensure content doesn't overflow */
    position: sticky; /* Make the navbar sticky */
    top: 0; /* Stick it to the top of the viewport */
    z-index: 100; 
}

.container .whatsapp{
  position: fixed;
  top: 90%;
  right: 20px;
}
.container .whatsapp img{
  width: 50px;
  height: 50px;
}

.container .navbar .logo img {
    width: 70px;
    height: 70px;
}

.container .navbar .nav-items ul{
    display: flex;
}

.container .navbar .nav-items ul li {
    list-style-type:none;
}
.container .navbar .nav-items ul li a{
    margin-right: 30px;
    padding: 8px 10px;
    text-decoration: none;
    color: #fff;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  position: relative;
  overflow: hidden;
}

.navbar ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.navbar ul li a:hover::before {
  width: 100%;
  height: 100%;
  border-top-color: #AF7A00; /* Top border color */
  border-right-color: #AF7A00; /* Right border color */
  border-bottom-color: #AF7A00; /* Bottom border color */
  border-left-color: #AF7A00; /* Left border color */
}
.hero{
    width: 100%;
    height: 100vh;
}
.hero .hero-content{
  height: 100vh;
  background-image: url('./assets/images/32250211-scaled.webp');
  background-position: center center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 100px;
  background-blend-mode: hard-light;

}
.hero .hero-content .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
}
.hero .hero-content .quote span:first-child{
  color: #FFB100;
  font-size: 2.5rem;
  font-weight: 700;
}
.hero .hero-content .quote span{
  font-size: 2.5rem;
  font-weight: 600;
  color: #000;
}
.hero .hero-content .right img{
  width: 450px;
  height: 450px;
}

.hero .hero-content .hero-footer{
  display: flex;
  text-align: center;
}
.hero .hero-content .hero-footer .item{
  margin-right: 20px;

}


.hero .hero-content .para{
  width: 70%;  
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.hero .hero-content .para button{
  margin-top: 2rem;
  padding: 10px 15px;
  background-color: #AF7A00;
    border-radius: 5px;
    border: 0;
  font-size: 15px;
  font-weight: 700;
}
.hero .hero-content .para button a{
  color: #fff;
}
.hero .hero-content .para button:hover{
  background: transparent;
  border: 1px solid #AF7A00;
  color: #fff;
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
}

.hero .hero-footer{
  color: #fff;
}

.aboutus{
  margin: 4rem 0;
  padding: 70px;
  text-align: center;
}
.aboutus .header{
  margin-bottom: 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bolder;
}
.aboutus .header h1{
  color: #AF7A00;
  line-height: 1.5;
  letter-spacing: 1.1px;
}
.aboutus .about-content p{
  margin: 20px 0;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
  text-align: start;
}
.aboutus button{
  margin-top: 2rem;
  padding: 10px 15px;
  background-color: #AF7A00;
    border-radius: 5px;
    border: 0;
  font-size: 15px;
  font-weight: 700;
}
.aboutus button a{
  text-decoration: none;
  color: #000;
}
.aboutus button:hover{
  background: transparent;
  border: 1px solid #AF7A00;
  color: #fff;
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
}
 .hiw{
  margin: 1rem 0;
  padding: 70px;
  text-align: center;
 }
 .hiw .header{
  margin-bottom: 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bolder;
 }
 .hiw .header h2{
  color: #AF7A00;
  line-height: 1.5;
  letter-spacing: 1.1px;
 }
 .hiw .container{
  display: flex;
  justify-content: center;
  margin: 40px 0;
  column-gap: 40px;
  align-items: center;
 }
 .hiw .container .item{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  height: 300px;
  width: 300px;
  background-color: #FFB100;
  padding: 20px 30px;
 }
 .hiw .container .item button{
  padding: 10px 20px;
  background-color: #000;
  border: 0;
  cursor: pointer;
 }
 .hiw .container .item .content p{
  font-weight: 600;
  font-size: 15px;
  line-height: 1.5;

 }
 .hiw .container .item a{
  text-decoration: none;
  color: #D3D3D3;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
 }

 .whyus{
  margin: 2rem 0;
  padding: 70px;
  text-align: center;
 }
 .whyus .header{
  margin-bottom: 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bolder;
 }
 .whyus .header h2{
  color: #AF7A00;
  line-height: 1.5;
  letter-spacing: 1.1px;
 }
 .whyus .container{
  display: flex;
  justify-content: center;
  margin: 40px 0;
  column-gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 40px;
 }
 .whyus .container .item .title h3{
  font-size: 20px;
  font-weight: bold;
 }
 .whyus .container .item{
    width: 350px;
    height: 300px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    row-gap: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 .whyus .container .item:hover{
  background-color: #FFB100;
  transition: all 0.6s ease-in-out;
  transform: scale(1.1);
 }
 .increment{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}
.counter-container i{
  color: #050301;
  font-size: 50px;
}
.counter-container span{
  color: #AF7A00;
  font-size: 24px;
}
.counter {
  font-size: 60px;
  margin-top: 10px;
}
.games{
  margin: 1rem 0;
  padding: 70px;
}
.games .header{
  margin-bottom: 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}
.games .header h2{
  color: #AF7A00;
  line-height: 1.5;
  letter-spacing: 1.1px;
}
.games .container{
  display: flex;
  column-gap: 30px;
  margin-bottom: 50px;
}
.games img{
  height: 550px;
}
.games  .container .right .game{
  margin: 20px;
}
.games .container .right .game p{
  font-size: 20px ;
  line-height: 1.5;
  letter-spacing: 1.1px;
}
.games .container-2{
  display: flex;
  column-gap: 30px;
}
.games  .container-2 .left .game{
  margin: 40px;
}
.games .container-2 .left .game p{
  font-size: 20px ;
  line-height: 1.5;
  letter-spacing: 1.1px;
}
  .footer{
    background: rgb(0,0,0);
    background: linear-gradient(14deg, rgba(0,0,0,1) 0%, rgba(54,38,0,1) 8%, rgba(175,122,0,1) 100%);    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }
  .footer .social{
    display: flex;
    justify-content: center;
    column-gap: 50px;
  }
  .footer .social img{
    width: 50px;
    height: 50px;
  }
  .footer .numbers{
    margin: auto;
  }
  .footer .numbers a{
    text-decoration: underline;
    color: #fff;
  }